.wrap
    float(100%)
    

    
.home-abs
    abs(block,100%,100%,0px,0px)
    
.inner 
    abs(block,100%,auto,100%,0px)
    min-height 500px;
    
    
article,
footer,
header,
section
    float(100%)
  
.content
    position relative
    display block
    margin 0 auto
    
    
article
    p
        font-size fontSize
        margin 20px 0
        line-height 1.7
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
@media screen and (min-width:1200px) and (max-width:1400px) {}
    
