
// основной цвет
colfirm = #38c117
    

// второй цвет
colfirm2 = #2ea0f0
    

// третий цвет
colfirm3 = #284184
    

// цвет фона
colbg = #fff
    

// цвет фона (альтернативный)
colbg2 = #f9f9f9
    

// основной цвет текста
coltxt = #3b3b3b
    

// альтернативный цвет текста (description)
coltxt2 = #8d8d8d
    

// альтернативный цвет текста (description и прочее)
coltxt3 = #bebebe
  
    
// Цвет границ
colB = #bebebe
   
    
// Фон footer
colF = #bebebe
   
    
// Фон header
colH = #bebebe
 

// Шрифт (основной)
fonttxt = 'Open Sans', sans-serif
 

// Шрифт (Жирный)
fontB = 'Open Sans', sans-serif
 

// Шрифт (Light)
fontL = 'Open Sans', sans-serif
 

// Шрифт (Medium)
fontM = 'Open Sans', sans-serif


// Шрифт (Medium)
fontSize = 16px

    
   
